<ion-header>
  <ion-navbar>
    <ion-title>
      首页
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <p class="alert" [style.background]="isShown?'black':'blue'">{{2+3}}</p>
  <h3>{{title}}</h3>
  <label> 输入框 <input style="border:1px solid #000000" type="text" [(ngModel)]="title"> </label>

  <p [class.alert]="isShown" *ngIf="isShown">看得到我</p>
  <p *ngIf="!isShown">看不到我</p>

  <p *ngIf="names.length>0" [style.font-size.em]="isShown ? 2 : 1">下面是数组，长度为{{names.length}}</p>
  <ul>
    <li *ngFor="let item of names; index as i">
      {{ i+item }}
    </li>
  </ul>

  <button class="btn-primary" (click)="onChangeTitle()">点击</button>
  
  <button  class="btn-primary"  (click)="toLazyLoadPage()">跳转到懒加载界面</button>
  <button  class="btn-primary"  (click)="toNormalLoadPage()">跳转到非懒加载界面</button>
</ion-content>