

$screen_width: 720;
@function rem($px) {
  @return ($px / $screen_width) * 100vw;
}

.btn-primary {
    background: powderblue;
    color: white;
    width: rem(360);
    height:rem(50);
    margin: rem(5);
    font-size: rem(12);
}